/* Variables */
$color-one: #ffffff;
$color-two: #000000;
$color-three: #fed136;
$font-one: "Merriweather", serif;
$font-two: "Roboto", sans-serif;
$font-three: "Great Vibes", cursive;

/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*Splash*/
.splash {
  height: 100vh;
  position: relative;
  background-image: url("https://i.postimg.cc/XYt27NH4/pexels-arina-krasnikova-5951356.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

/* Navigation */
.navbar-light .navbar-brand {
  color: #fed136;
  font-family: $font-three;
  font-size: 25px;
}
