/* Variables */
$color-one: #ffffff;
$color-two: #000000;
$color-three: #fed136;
$font-one: "Merriweather", serif;
$font-two: "Roboto", sans-serif;
$font-three: "Great Vibes", cursive;

/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Navigation */
.navbar-light .navbar-brand {
  color: #fed136;
  font-family: $font-three;
  font-size: 25px;
}
